# Temporary and Backup files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*~
_autosave-*
\#auto_saved_files\#
fp-info-cache
*-backups/

# Local Project Settings (unnecessary for other users)
*.kicad_prl

# Netlist and Autorouter files
*.net
*.dsn
*.ses
*.lck
*.step


/build
.vscode
greber/
**/greber/
